*{
    margin: 0; 
    padding: 0;
    
   
    
    /* font-family: sans-serif;*/
}
#uper{
    position:fixed;
    /* position: sticky; */
    top: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;

}
    
   
   
    
 

/************************************************ Top Bar CSS Start **********************************************/

#top{
   /* position: fixed; */
    display: flex; 
    width: 100%;
    height: 25px;
    background-color: rgba(218, 220, 225,0.9);
}
#top>div:first-child{
    display: flex;
    width: 60%;
    margin-left: 70px;
}
#top>div:first-child>ol{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#top>div:first-child>ol>li{
    padding: 10px;
    font-family: monospace;
}
#top>div:first-child>ol>li>a{
    text-decoration: none;
    color: #000;
}
#top>div:last-child{
    display: flex;
    width: 20%;
    align-items: flex-end;
    margin-left: 240px;
}
#top>div:last-child>ol{
    display: flex;
    list-style: none;
}
#top>div:last-child>ol>li{
    padding: 10px;
    margin-bottom: -3px;
    font-family: monospace;
}
#top>div:last-child>ol>li>a{
    text-decoration: none;
    color: #000;
}
/************************************************** Top Bar CSS End**************************************************/


/***************************************************** Nav CSS Start**********************************************/

#nav{
  
  
    width: 100%;
    height: 53px;
    border-bottom: 1px solid black;
    display: flex;
    
}
#nav>div:first-child{
    
    display: flex;
    width: 60%;
    margin-left: 50px;
}
#nav>div:first-child>a>img{
    width: 50%;
    margin-top: 12px;
    margin-left: 10px;
}
#nav>div:first-child>p{
    margin-left: -16px;
    padding: 30px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 35px;
    margin-top: -10px;
    font-family:  sans-serif;
}
#nav>div:first-child>p:hover{
    border-bottom: 5px solid gold;
    margin-bottom: -1px;
}
#nav>div:last-child{
    display: flex;
    width: 50%;
    align-items: flex-end;
}    
#nav>div:last-child> .sarchbar{
    width: 52%;
    height: 40px;
    border: 1px solid red;
    margin-right:  25px ;
    margin-bottom:8px;
    border-radius: 5px 5px 5px 5px;
    
    background: #eaeaea;
    outline: none;
    border: none;
}
#nav>div:last-child> .sarchbar>span{
    margin-left: 19px;
 }
 .sarchbar>input{
    width: 85%;
    height: 90%;
    outline: none;
    border: none;
    background: #eaeaea;
    margin-top: 2px;
   margin-left: 4px;
}

#nav>div:last-child>div:last-child{
    display: flex;
    /* margin-bottom: 18px; */
    align-items: center;
}
#nav>div:last-child>div:last-child>p{
    font-size: 20px;
    /* margin-top: 7px; */
}
#vericleLine{
   margin-right: 15px; 
  margin-bottom: 9px;
 
}

#vericleLine+p{
    color: rgb(51, 110, 110);
    margin-bottom: 10px;
}

#vericleLine+p>a{

text-decoration: none;
color: black;

}
#vericleLine+p+span{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 8px;

}
#vericleLine+p+span+span{
padding: 5px;
font-size: 25px;
margin-bottom: 8px;
font-family: sans-serif;

}

/************************************************ Nav CSS End  ****************************************************/


#container {
    width: 80%;
    height: 1200px;

    margin: 150px ;
    /* margin-top: 100px; */
  }
  #mblCases {
    margin-top: 25px;
    width: 100%;
    height: 700px;

    background-color: #f5f5f5;
    margin-bottom: 90px;
  }
  #mblCases > div > h1 {
    margin-left: 30px;
  }
  #mblCases > div > hr {
    width: 15%;
    margin-right: 82%;
    margin-top: 0px;
    border: 1px solid #fdd835;
  }
  #brand {
    display: flex;
  }
  #brand > div:first-child {
    width: 60%;
    height: 500px;

    margin-left: 30px;
    background-color: #ffffff;
  }
  #brand > div:last-child {
    width: 18%;
    height: 300px;

    margin-left: 60px;
  }
  #brand > div:last-child > img {
    width: 100%;
  }
  #brand > div:first-child > input {
    margin: 50px 40px;
    padding-right: 250px;
    border: none;
    border-bottom: 1px solid black;
  }
  #brand > div:first-child > span {
    margin-left: 40px;
    color: #a8a8a8;
  }
  #brandname {
    display: grid;
    grid-template-columns: repeat(3, 40%);
    grid-template-rows: repeat(2, 50px);

    width: 80%;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  #brandname > div > a {
    font-size: large;
    color: #67625d;
    text-decoration: none;
  }
  #otherbrands {
    display: grid;
    grid-template-columns: repeat(3, 40%);
    grid-template-rows: 50px;
    width: 80%;

    margin-left: 40px;
  }
  #otherbrands > div > p {
    font-size: large;
    color: #67625d;
  }
  .color {
    color: #b2b2b2;
  }

  /************************************* Footer CSS Start ******************************************** */
*{
    line-height: 12px;
}


#footer-part {
    line-height: 20px;
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-family: "montserrat", sans-serif;
}

#customer-section {
    margin-top:50px ;
    width: 75%;
    margin: auto;


}

.customer-section-grid a{
    
    color: white;
    text-decoration: none;
    text-align: center;
}
/* #customer-section>h1{
    margin-top: 100px;
   color: #fdd835;
    

} */

.customer-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: auto;

}



.customer-section-grid h4 {
    text-transform: uppercase;
    color: #fdd835;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.customer-section-grid h4+input {
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid yellow;
    background-color: black;
    height: 30px;
}

.customer-section-grid .subscribe-button {
    text-transform: uppercase;
    background-color: yellow;
    border: none;
    color: black;
    height: 30px;
    width: 180px;
    margin-left: 170px;
   
}

#customer-section-grid p ,.customer-section-grid p  {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    font-family:  sans-serif;
}

.last-color-section h4 {
    color:
        #b2e7ed
}

#download-the-app-images {
    display: flex;
    width: 80%;
}

#download-the-app-images>div {

    flex: 1;
    height: 30px;
    margin: 2px;

}

#download-the-app-images>div img {
    width: 100%;
    height: 100%;
}

#footer-last-section-para p,#footer-last-section-para h3{

    font-family: "montserrat", sans-serif;;

font-weight: 400;
font-size: 15px;
line-height: 20px;
color: rgba(255, 255, 255, 0.9);

}
#footer-last-section-para h3{

    font-family: "montserrat", sans-serif;;

    font-weight: 700;
    font-size: 17px;
  
    
    }

/* footer part media queries */


@media screen and (min-width:0px) and (max-width:375px) {

    .customer-section-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;

    }

    .last-color-section {
        display: flex;


    }

    .last-color-section h4 {

        margin: 5px;

    }



}

@media screen and (min-width:375px) and (max-width:765px) {

    .customer-section-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;

    }



}
h1{
    margin-bottom: 2%;
}
p{
    line-height: 20px;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
}
h4{
    line-height: 20px;
}
#customer-section hr{
    /* border: 1px solid red;
    background-color: blue; */
    margin: 4% 0;
}
.last-color-section>h4{
    line-height:20Px ;
    /* border:2px solid rgb(74,172,143); */
    padding:5px 0;
    
}
.last-color-section>h4>a{
    color:rgb(74,172,143);
    font-weight: bold;

}
#footer-last-section-para p{
    /* border:2px solid white; */
    line-height: 25px;
    font-size: 18px;
    margin:2% 0;


}
 



/************************************ Footer CSS End ******************************************** */